/* ==========================================================================
   Generic
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Reset
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Base
   ========================================================================== */
* {
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  font-weight: 300;
  color: #fff;
  overflow: hidden;
}

.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.view-box i {
  position: absolute;
  top: 3%;
  left: 92%;
  color: #fff;
  z-index: 300;
  font-size: 30px;
  cursor: pointer;
}

.view {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 300;
  width: 80%;
  height: 80%;
  text-align: center;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.view img{
  width: 100%;
  height: 100%;
}

.vcard {
  position: absolute;
  width: 650px;
  height: 550px;
  background: linear-gradient(to bottom right, #212121, #2e2e2e, #4d4d4d, #878787);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  top: 50%;
  left: 50%;
  font-family: 'Varela Round', sans-serif;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.navbar div {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.7);
  line-height: 1;
  cursor: pointer;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 0 0 10px 10px;
  margin: 0 5px;
  transition: transform .5s linear;
}

.navbar div:hover {
  transform: scale(1.1);
}

.btn-resume.active, .btn-resume:hover {
  background-color: #0089ff;
  color: #fff;
}

.btn-portfolio.active, .btn-portfolio:hover {
  background-color: #222;
  color: #fff;
  border: 1px solid #fff;
}

.btn-contact.active, .btn-contact:hover {
  background-color: #F06292;
  color: #fff;
}

/* TOTAL CARD */
.contact-form,
.resume,
.portfolio {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: calc(100% - 0px);
  background: linear-gradient(to bottom right, #212121, #2e2e2e);
  padding: 40px 25px 0 25px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  overflow-y: auto;
  overflow-x: hidden;
}

.resume {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  padding-bottom: 20px;
}

.resume::-webkit-scrollbar,
.portfolio::-webkit-scrollbar,
.contact-form::-webkit-scrollbar {
  width: 8px;
  background-color: #282828;
}

.resume::-webkit-scrollbar-thumb {
  background-color: #0089ff;
  border-radius: 5px;
}

.portfolio {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.portfolio::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

.contact-form {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.contact-form::-webkit-scrollbar-thumb {
  background-color: #F06292;
  border-radius: 5px;
}

.contact-form.active,
.resume.active,
.portfolio.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.close {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 30px;
  top: 45px;
}

/*CARD*/
.card {
  text-align: center;
  padding: 40px 30px;
}

.card .left img {
  width: 50%;
  border-radius: 50%;
}

.card .col h2 {
  font-weight: 300;
  font-size: 2.7em;
  line-height: 1;
}

.card .col .job {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 0 30px;
}

.social_icons {
  position: absolute;
  top: calc(100% - 35px);
}

.social_icons i {
  font-size: 25px;
  color: #fff;
  margin: 0 12px;
}

.social_icons a i {
  transition: transform .5s linear;
}

.social_icons a:hover i {
  transform: rotateY(360deg);
}

.social_icons a:hover .fb {
  color: #4267B2;
}

.social_icons a:hover .tw {
  color: #1DA1F2;
}

.social_icons a:hover .lk {
  color: #0077B5;
}

.social_icons a:hover .yt {
  color: #FF0000;
}

.social_icons a:hover .git {
  color: #000;
}


/* RESUME */
.resume__block {
  margin-top: 25px;
}

.resume__block-title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #0089ff;
}

.block {
  border-left: 1px solid #fff;
  padding: 0 0 0 5px;
}

.block-title-date {
  position: relative;
  height: 35px;
  line-height: 35px;
  margin-bottom: 15px;
}

.block-title-date .title {
  font-size: 20px;
  color: #fff;
}

.block-title-date .date {
  font-size: 13px;
  float: right;
  color: #0089ff;
}

.block-location {
  position: absolute;
  top: 20px;
  left: 5px;
  font-size: 13px;
  color: rgb(163, 163, 163);
}

.block-resume {
  margin-bottom: 15px;
  font-size: 13px;
}

.skills {
  display: block;
  width: 100%;
}

.skills .block__bar {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.skills .block__bar span {
  font-size: 20px;
}

.skills .block__bar .bar {
  position: absolute;
  top: 20px;
  width: 100%;
}

.skills .block__bar .bar .empty {
  height: 10px;
  width: 100%;
  background: #c1c1c1;
}

.skills .block__bar .bar .full {
  position: absolute;
  top: 0;
  height: 10px;
  background: #0089ff;
}

.skills .block__bar .actor .full {
  width: 90%;
}

.skills .block__bar .producer .full {
  width: 70%;
}

.skills .block__bar .director .full {
  width: 65%;
}

.skills .block__bar .composer .full {
  width: 50%;
}

.dl-cv {
  display: block;
  border: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  margin: 0 auto 20px auto;
  cursor: pointer;
  background-color: #0089ff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/* PORTFOLIO */
.portfolio__menu {
  text-align: center;
  margin-top: 25px;
}

.portfolio__menu div {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

.portfolio__menu div.active {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.portfolio .grid-wall {
  position: relative;
  display: block;
  margin: 20px 0px;
}

.portfolio .grid-wall .wall {
  display: none;
  width: 45%;
  height: 130px;
  line-height: 130px;
  margin: 5px 2.5%;
  text-align: center;
  background-color: #ffffff;
  color: #000;
  font-size: 20px;
  overflow: hidden;
}

.portfolio .grid-wall .active {
  display: inline-block;
  cursor: pointer;
}

.wall img{
  width: 100%;
}

/* CONTACT */
form {
  margin-top: 25px;
}

form .control {
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px;
}

form .control label {
  position: absolute;
  top: 30px;
  left: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
  color: #fff;
}

form .control.submit {
  text-align: right;
}

form input,
form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  outline: none;
  padding-bottom: 10px;
  background: #212121;
  color: #fff;
}

form input:invalid,
form textarea:invalid {
  border-bottom: 1px solid #d31515;
}

form .filled label,
form input:focus + label,
form textarea:focus + label {
  top: 0;
  font-size: 12px;
}

form textarea {
  height: 100px;
}

form input[type="submit"] {
  width: auto;
  background-color: #F06292;
  padding: 10px 40px;
  color: white;
  border-radius: 40px;
  cursor: pointer;
}

.contact {
  margin-top: 20px;
}

.contact p {
  display: inline-block;
  width: 49%;
  margin-bottom: 10px;
}

.contact p span,
.contact p a {
  display: block;
  color: #569dff;
  text-decoration: none;
}

.contact strong {
  color: #fff;
  text-transform: uppercase;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 654px) {
  .vcard {
    width: 95%;
    height: 500px;
    overflow: hidden;
  }

  /* NAVBAR */
  .navbar div {
    width: 32%;
    font-size: 10px;
    margin: 0px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
  }

  .navbar div:hover {
    transform: none;
  }

  /*CARD*/
  .card {
    padding: 60px 15px;
  }

  .card .col h2 {
    font-size: 2.5em;
  }

  .social_icons {
    top: calc(100% - 35px);
  }
  
  .social_icons i {
    font-size: 20px;
    margin: 0 8px;
  }

  .social_icons a:hover i {
    transform: none;
  }

  .social_icons a .fb {
    color: #4267B2;
  }

  .social_icons a .tw {
    color: #1DA1F2;
  }

  .social_icons a .lk {
    color: #0077B5;
  }

  .social_icons a .yt {
    color: #FF0000;
  }

  /*PORTFOLIO*/
  .portfolio .grid-wall .wall {
    width: 80%;
    margin: 5px 10%;
  }

  /*CONTACT*/
  .contact {
    margin-top: 20px;
  }

  .contact p span,
  .contact p a {
    font-size: 1em;
  }

  .contact p {
    width: 100%;
    margin-bottom: 10px;
  }

  .contact strong {
    color: #fff;
    text-transform: uppercase;
  }
}

@media screen and (orientation: landscape) and (max-height: 719px) and (max-width: 1024px) {
  .vcard {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  /* NAVBAR */
  .navbar div {
    margin: 0px;
  }

  .navbar div:hover {
    transform: none;
  }

  /*CARD*/
  .card {
    text-align: center;
    padding: 15px;
    height: 100%;
  }

  .card .col {
    position: absolute;
    display: inline-block;
    width: 49%;
  }

  .card .left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .card .left img {
    width: 50%;
    border-radius: 50%;
  }

  .card .col h2 {
    font-size: 1.9em;
  }

  .card .col .job {
    font-size: 1.3em;
    margin: 0px;
  }

  .card .right {
    top: 50%;
    left: calc(50% - 50px);
    transform: translateY(-50%);
  }

  .social_icons {
    position: relative;
    margin-top: 20px;
  }

  .social_icons i {
    font-size: 20px;
    margin: 0 8px;
  }

  .social_icons a:hover i {
    transform: none;
  }

  .social_icons a .fb {
    color: #4267B2;
  }

  .social_icons a .tw {
    color: #1DA1F2;
  }

  .social_icons a .lk {
    color: #0077B5;
  }

  .social_icons a .yt {
    color: #FF0000;
  }

  
}


/*# sourceMappingURL=main.css.map */
