/* ==========================================================================
   Generic
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Reset
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Base
   ========================================================================== */

* {
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  font-weight: 300;
  color: #fff;
}

.vcard {
  position: absolute;
  width: 450px;
  height: 550px;
  background: linear-gradient(to bottom right, #212121, #2e2e2e, #4d4d4d);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  top: 50%;
  left: 50%;
  font-family: 'Varela Round', sans-serif;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

/*CARD*/
.card {
  text-align: center;
  padding: 30px;
}

.card .left img {
  width: 50%;
  border-radius: 50%;
}

.card .col h2 {
  font-weight: 300;
  font-size: 2.7em;
  line-height: 1;
}

.card .col .job {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 0 30px;
}

.contact {
  margin-top: 20px;
}

.contact p {
  display: inline-block;
  width: 49%;
  margin-bottom: 10px;
}

.contact p span,
.contact p a {
  display: block;
  color: #569dff;
  text-decoration: none;
}

.contact strong {
  color: #fff;
  text-transform: uppercase;
}

.social_icons {
  position: absolute;
  top: calc(100% - 55px);
}

.social_icons i {
  font-size: 25px;
  color: #fff;
  margin: 0 12px;
}

.social_icons a i{
  transition: transform .5s linear;
}

.social_icons a:hover i{
  transform: rotateY(360deg);
}

.social_icons a:hover .fb {
  color: #4267B2;
}

.social_icons a:hover .tw {
  color: #1DA1F2;
}

.social_icons a:hover .lk {
  color: #0077B5;
}

.social_icons a:hover .yt {
  color: #FF0000;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 479px) {
  .vcard {
    width: 95%;
    height: 98%;
    overflow: hidden;
  }

  /*CARD*/
  .card {
    padding: 15px;
  }

  .card .col h2 {
    font-size: 2.5em;
  }

  .card .col .job {
    margin: 0 0 15px;
  }

  .contact {
    margin-top: 20px;
  }

  .contact p span,
  .contact p a {
    font-size: 1em;
  }

  .contact p {
    width: 100%;
    margin-bottom: 10px;
  }

  .contact strong {
    color: #fff;
    text-transform: uppercase;
  }

  .social_icons {
    top: calc(100% - 35px);
  }

  .social_icons a .fb {
    color: #4267B2;
  }

  .social_icons a .tw {
    color: #1DA1F2;
  }

  .social_icons a .lk {
    color: #0077B5;
  }

  .social_icons a .yt {
    color: #FF0000;
  }

}

@media screen and (orientation: landscape) and (max-height: 719px) and (max-width: 1024px) {
  .vcard {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  /*CARD*/
  .card {
    text-align: center;
    padding: 15px;
    height: 100%;
  }

  .card .col {
    position: absolute;
    display: inline-block;
    width: 49%;
  }

  .card .left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .card .left img {
    width: 50%;
    border-radius: 50%;
  }

  .card .col h2 {
    font-size: 1.9em;
  }

  .card .col .job {
    font-size: 1.3em;
    margin: 0px;
  }

  .card .right {
    top: 50%;
    left: calc(50% - 50px);
    transform: translateY(-50%);
  }

  .contact {
    margin-top: 20px;
  }
  
  .social_icons {
    position: relative;
    margin-top: 20px;
  }

  .social_icons i {
    font-size: 20px;
    margin: 0 8px;
  }

  .social_icons a .fb {
    color: #4267B2;
  }

  .social_icons a .tw {
    color: #1DA1F2;
  }

  .social_icons a .lk {
    color: #0077B5;
  }

  .social_icons a .yt {
    color: #FF0000;
  }
}

/*# sourceMappingURL=main.css.map */
